button{
    height: 45px;
    display: block;
    background-color: #5568FE;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 10px;
    color:#CBD0F7;
    cursor:alias;
}